// Base Styles

@font-face
    font-family: title
    src: url('../fonts/earthbound.otf')

@font-face
    font-family: maintext
    src: url('../fonts/district-pro-thin.otf')

lightblue = #CDDDFF
grey = #777
blue = #47F
red = #F47
green = #4F7
lightgreen = #72fa72
flashyblue =  #27aaf2


*
  box-sizing: border-box

html,
body
    height 100%
    width 100%

body
    text-rendering optimizeLegibility

body,
input
    color #444
    font 300 16px Geneva, Verdana, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif
    line-height 1.2

body.application, input, textarea
    color: #bbb
    background: none repeat scroll 0 0 rgba(40, 40, 40, 0.8)
    padding: 0

a,
a:visited
    text-decoration none

    &:hover
        text-decoration underline

h1, h2, h3, h4
    font-family: title
    padding: 10px

h2
h4
    padding: 0

h5
    font-family: title
    font-size: 16px

p
    font-family: maintext
    font-size: 20px

a, span
    font-family: title

a, a:visited
    text-decoration: none

a:visited
    color: lightblue

    &:hover
        color: blue

a:focus
    outline: none

button, input[type=button]
    background-color: inherit

