@media (max-width: 1000px)
    .main
        width: 100%

        form
            input
            .url-field
                width: 90%

    .options
        display: block
        max-width: 100%
        width: 100%

@media (max-width: 600px)
    .menu
        display: none
        max-width: 200px

    .main
        .menu-toggle
            display: table-cell
            display: block
            background: #1C1C1C
            width: 100%

    ul.links
        li.link
            a
                font-size: 16px
