#content
    padding: 0px

[class^="icon-"]
a [class^="icon-"]
.links [class^="icon-"]
.links a [class^="icon-"]
    border: none
    color: lightblue
    font-size: 24px
    transition: 0.2s all linear

[class^="icon-"]:hover
a [class^="icon-"]:hover
    color: blue

.active
    color: grey
    background: black

[class^="icon-"].active:hover
   menucolor: blue

.main
    width: 100%
    margin: 0
    padding: 0
    border: 0
    background: #2A2A2A
    margin-bottom: 2px
    display: table-cell

    form 
        display: none

        .buttons
            display: inline

        label
            margin-right: 20px

        input
            display: inline-block
            padding: 5px
            margin: 0 10px 0 0
            min-width: 45%
            border: 1px double #171717
            background: #363636

        .url-field
            min-width: 45%

        button
            border: 0
            vertical-align: middle

    .help
    .settings
    .new-feed
        padding: 10px 20px

    .save-info
        em
            display: none

    .menu-toggle
        display: none

        button
            border: 0
            color: lightblue
            margin: 5px

.contents
    display: table-row
    margin-top: 1em
    width: 100%


.menu
    display: table-cell
    padding: 0
    padding-left: 2px
    margin-top: 0
    margin-right: 2px
    border: 0
    min-width: 200px
    max-width: 300px
    vertical-align: top
    background: #1C1C1C

    h1
        margin: 5px 0

    .buttons
        margin-top: 10px
        margin-bottom: 10px
        margin-right: 0px
        cursor: pointer

        button
            padding: 5px 2px
            border: none
            font-size: 30px
            transition: 0.2s all linear

    .icon-new
        color: flashyblue
        
        &:hover
            color: blue

    .icon-new.active
        color: grey


.feeds
    .tag
        cursor: pointer
        padding: 5px
        
        button
            border: none
            vertical-align: middle

            font-size: 16px
            color: lightblue

            &:hover
                color: blue

        &.show
            .feed
                display: block

        .tag-header
            white-space: nowrap

    .feed
        display: none
        cursor: pointer
        margin: .2em
        white-space: nowrap
        font-family: title
        font-weight: bold
        font-size: .9em;


        .buttons
            display: inline-block
            vertical-align: middle

        .title
            padding: 5px
            overflow: hidden
            text-overflow: ellipsis
            vertical-align: top
            color: lightblue

            a
                color: grey
                margin: 0 .3em

                &:hover
                    color: blue
                    text-decoration: none
        .delete
            visibility: hidden
            padding: 5px

        &:hover
            .delete
                visibility: visible

        .spinner 
            vertical-align: top
            display: none
        &.loading
            .spinner
                display: inline-block
            .count
                display: none
            .delete
                display: none
            &:hover
                .delete
                    display: none


        .delete:hover
            color: red

    .feed.show .title
        a
            color: lightgreen

            &:hover
                color: blue

.options
    width: 100%

ul.links
    padding: 20px 0
    margin-top: 1em
    width: 100%
    list-style: none
    vertical-align: top
    background: #232323

    li
        padding: 10px
        margin: 0 0px 10px 0px
        width: 100%

        &:hover
            background: #000

        button
            transition: 0.2s all linear

        button, a
            padding: 0 5px
            border: none
            color: lightblue
            font-size: 20px
            line-height: 28px

        button:hover
        a:hover
            color: blue

        .active
            color: grey

        [class^="icon-"].active:hover
            color: blue


        .buttons
            display: inline-block
            padding-right: .5em
            white-space: nowrap
            height: 100%

            button
                border: none
                width: auto

        .description
            display: none
            padding: .5em
            margin: .5em

            a
                font-size: 16px

        &.new
            a:visited
                color: lightgreen

            a:visited
                &:hover
                    color: blue

        &.old
            display: none
            a
                color: grey
                text-decoration: none

            a:hover
                color: blue

            a:visited
                color: lightgreen

            a:visited
                &:hover
                    color: blue

    &.show-old
        li.old
            display: list-item

.help
    display: none
    overflow: visible
    p
        font-size: 20px

.description
    box-shadow: 1px 1px 2px #000
    background: black


    p
        padding: 10px
        font-family: title
        font-size: 16px

    li
        margin-bottom: 0

#feeds-file
    display: none

.import
    position: absolute
    top: 1.5em
    right: 1.5em
    .import-failed
        padding: 0
        margin: 0
    .imported
        padding: 0
        margin: 0

.icon-import
    cursor: pointer

