main-color       = #bbb
panel-background = #1f1f1f
hover-color      = blue
highlight-color  = #6ae
active-color     = #ea6

#content
    padding: 0

    .contents
        display: table-row
        margin-top: 1em
        width: 100%


    input
        background: #262626
        border-color: #262626
        margin: 0 1em
        color: main-color

    .panel
        border: panel-background
        background: main-color
    .panel-heading
        background: panel-background
        border: panel-background
        color: main-color
        .panel-title
            font-weight: bold
            font-size: 2em
    .panel-body
        background: panel-background
        color: main-color

    button
        border: none
        font-size: 2em
        transition: 0.2s all linear

    .buttons
        white-space: nowrap

    .options
        .buttons
            .btn
                margin: 0
                padding: .1em
                font-size: 1.5em
                &:hover
                    color: hover-color
        .settings
            input
                width: 20em
                &[type=checkbox]
                    width: 1.5em
            label
                vertical-align: middle
     div.help
        overflow: visible
        p
            font-size: 20px

     .panel.settings, .panel.new-feed, div.help
        display: none

    .menu
        display: table-cell
        padding: 0 2px
        border: 0
        min-width: 200px
        max-width: 300px
        vertical-align: top
        background: #1C1C1C

    .main
        display: table-cell
        width: 100%
        margin: 0
        padding: 0
        border: 0
        background: #2A2A2A


    .btn
        color: lightblue
        &:hover
            color: blue
        &.new
            color: flashyblue

    .tag
        cursor: pointer
        padding: 5px
        
        button
            padding: .25em
            border: none
            vertical-align: middle
            color: #999

            &:hover
                color: highlight-color

            font-size: 1em

        &.show
            .feed
                display: block

        .tag-header
            white-space: nowrap

    .feeds
        .feed
            display: none
            cursor: pointer
            margin: .2em
            white-space: nowrap
            font-family: title
            font-weight: bold


            .buttons
                display: inline-block
                vertical-align: middle

            .spinner 
                display: none
                padding: 5px

            &.loading
                .spinner
                    display: inline
                .delete
                    display: none

            .title
                padding: 5px
                overflow: hidden
                text-overflow: ellipsis
                vertical-align: top
                color: highlight-color

                a
                    color: main-color
                    margin: 0 .3em

                    &:hover
                        color: highlight-color
                        text-decoration: none
            .delete
                visibility: hidden
                padding: 5px

            &:hover
                .delete
                    visibility: visible

            .delete:hover
                color: red

        .feed.showing .title
            a
                color: active-color
                text-decoration: none

                &:hover
                    color: highlight-color

    ul.links
        padding: 20px 0
        margin-top: 1em
        width: 100%
        list-style: none
        vertical-align: top
        background: #232323

        > li
            padding: 10px
            margin: 0 0px 10px 0px
            width: 100%

            &:hover
                background: #000

            button
                transition: 0.2s all linear

            button, a
                padding: 0 5px
                border: none
                font-size: 20px
                line-height: 28px

            button:hover
            a:hover
                color: highlight-color

            .active
                color: main-color

            .buttons
                display: inline-block
                padding-right: .5em
                white-space: nowrap
                height: 100%
                color: main-color
                vertical-align: top

                .btn
                    color: main-color
                    border: none
                    width: auto
                    a
                        padding: 0

            .description
                display: none
                margin: .5em 4em
                color: #eee
                border-radius: 4px
                background: #262626
                padding: .5em
                opacity: 0.7
                max-width: 800px

            &.new
                :visited
                    color: active-color

                :visited
                    &:hover
                        color: highlight-color

            &.old
                display: none
                a, .btn
                    color: #676
                    opacity: 0.8
                    text-decoration: none

                :hover
                    color: highlight-color

                :visited
                    color: active-color

                :visited
                    &:hover
                        color: highlight-color

        &.show-old
            li.old
                display: list-item


.description
    font-size: 16px
    a
        font-size: 16px
    p
        padding: 10px
        font-family: title
        font-size: 16px

    li
        margin-bottom: 0

#feeds-file
    display: none

div.import
    position: absolute
    top: 1.5em
    right: 1.5em
    .import-failed
        padding: 0
        margin: 0
    .imported
        padding: 0
        margin: 0

div.import
    cursor: pointer


.alertify-dialog, .alertify-buttons, .alertify-log
    background: #000
    opacity: 0.8
    text-align: center
    color: main-color
.alertify-button-ok:
    background: #000
    box-shadow: none
.alertify-message
    font-size: 1.5em
