// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
@import 'nib'

@import '_base'
@import '_ui'

// Import your styles here

@import '_states'
@import '_layout'
@import '_responsive'

body.application, input, textarea
    color: #bbb
    background: none repeat scroll 0 0 rgba(40, 40, 40, 0.8)
    padding: 0

a, a:visited
    color: #27aaf2
    text-decoration: none
a:focus
    outline: none

#content
    padding: .5em

button, input[type=button]
    background-color: inherit

div.main-title
    margin: 0
    padding: 0 1em
    background: #232323
    border: 1px solid #262626

    h1
        background: #1f1f1f
        border-top: 1px solid #262626
        border-bottom:1px solid #161712
        padding: .5em .7em
        .buttons
            cursor: pointer
            float: right
            button
                border: none
    form 
        display: none
        .buttons
            display: inline
        label
            margin: .5em
        input
            display: inline-block
            margin: .5em
            padding: .5em
            min-width: 45%
            background: #262626
            border: 1px double #171717

        .url-field
            min-width: 45%
        button
            border: none
            vertical-align: middle

.contents
    margin-top: 1em
    display: table-row
    width: 100%
    > div, > ul
        border: 3px solid #353535


.feeds
    margin: 2em 0
    padding: 1em 1em 0
    background: #232323
    border: 1px solid #262626
    display: table-cell
    vertical-align: top
    max-width: 10em 

    .tag
        cursor: pointer
        margin-bottom: 1em
        button
            border: none
            vertical-align: middle
            img
                width: 16px
                height: 16px
        &.show
            .feed
                display: block
        .tag-header
            white-space: nowrap

    .feed
        font-size: .9em;
        display: none
        cursor: pointer
        padding: .2em
        margin: .2em
        white-space: nowrap
        .buttons
            display: inline-block
            vertical-align: middle
        div.title
            overflow: hidden
            text-overflow: ellipsis
            vertical-align: top
            a
                margin: 0 .3em
            a:hover
                text-decoration: none
                color: #72fa72
        .loader
            display: none
        &.loading
            .loader
                display: inline
            .count
                display: none
        .icon-delete
            visibility: hidden
        &:hover
            .icon-delete
                visibility: visible
    .feed.show div.title
        font-weight: bold

ul.links
    margin: 2em
    padding: 0
    background: #232323
    display: table-cell
    width: 99%
    vertical-align: top
    list-style: none
    li
        border-top: 1px solid #666
        padding: 1em .5em 0
        margin: 2em 1em
        .buttons
            display: inline-block
            white-space: nowrap
            padding-right: .5em
            button
                border: none
                width: auto
                img
                    width: 24px
                    height: 24px
                    vertical-align: middle
        .description
            padding: .5em
            margin: .5em
            display: none
        &.new
            a:visited
                color: #2b2
        &.old
            display: none
            a
                color: #bbb
            a:visited
                color: #2b2
    &.show-old
        li.old
            display: list-item
.help
    display: none
    overflow: visible
    p
        font-size: .9em;

#feeds-file
    display: none

.import
    position: absolute
    top: 1.5em
    right: 1.5em
    .import-failed
        padding: 0
        margin: 0
    .imported
        padding: 0
        margin: 0
.icon-import
    cursor: pointer
    width: 16px

