#content
    h1 My Cozy Feeds
    form.new-feed
        p
            input.url-field(placeholder="url")
            input.title-field(placeholder="title")
            input.tags-field(placeholder="tags, separated by ','")
            input.icon-more(type="button", title="more")
        p
            textarea.description-field(placeholder="description")
        button.icon-add(title="add")
    div.feeds
    ul.links
