#content
    h1 My Cozy Feeds
    form.new-feed
        p
            input.url-field(placeholder="url")
            input.tags-field(placeholder="tags, separated by ','")
            button.icon-add(title="add")
    .buttons
        button.show-new(title="click here to see only new links") show new links
        button.show-old(title="by default, we display only new links of a feed, click here to see all links") show all links
    div.feeds
    ul.links
