#content
    div.main-title
        h1 My Cozy Feeds
            .buttons
                button.icon-new(title="add a feed")
                    img(src="icons/new.png", alt="new")
                button.icon-settings(title="settings")
                    img(src="icons/settings.png", alt="settings")
        form.new-feed
            h2 add a feed
            p
                input.url-field(placeholder="url")
                input.tags-field(placeholder="tags, separated by ','")
                span.buttons
                    button.icon-add(title="add")
                        img(src="icons/add.png", alt="add")
        form.settings
            h2 settings
                .buttons
                    button.icon-update(title="update")
                        img(src="icons/validate.png", alt="update")
            div.values
    div.feeds
    ul.links
