#content

    .contents
        .menu
            .clearfix
                input(type="file", name="feeds-file", id="feeds-file")
                span.import
                    p.imported
                    p.imported-failed

            .buttons
                button.icon-new.icon-plus-circled(title="add a feed")
                button.icon-help(title="help")
                button.icon-settings.icon-cog(title="settings")
                button.icon-import.icon-upload(title="import opml rss files or html bookmarks files exported from your browser")
 
            .feeds(style="padding-top: 20px")

        .main
            .options
                form.new-feed
                    h2 Add a feed
                    p
                        input.url-field(placeholder="url")
                        input.tags-field(placeholder="tags, separated by ','")
                        span.buttons
                            button.icon-add.icon-plus-circled(title="add")

                form.settings
                    h2 Settings
                    div.values
                    .save-info
                        em Your parameter changes are saved.

                .help
                    h2 Help
                    h4 This is a tool to follow your rss/atom feeds.
                    h5 How do I start ? 
                    p 
                        | Please put your mouse over the icons that you see, a tooltip should help you.
                    h5 I'm not sure, how to add a feed ? 
                    p 
                        | Just click on the top right "add a feed" button, fill the url and tags fields and click on the "add" button right next to the tags field (or hit the enter key in one of the field).
                        | The tags and the feed url should appear in the right panel.
                    h5 I want to change the tags of a feed, or I mistyped the url, how can I edit my feed ?
                    p
                        | Just click on red cross on left of the feed, don't worry, your feed will be removed, but the "add a tag" form will be filled with its url and tags. Change what is wrong and add the feed again.
                    h5 I just see the beginning of the url of my feed, I feel unsatisfied.
                    p
                        | Now click on it. The title of this feed should replace its url and the link of this feed should be displayed.
                    h5 What are these "tags" ?
                    p
                        | They will be used to classify your feeds in the left panel.
                        | The "reload all feeds" icon on the left of a tag name will display all feeds having this tag and the new items of these feeds.
                    h5 I don't want to reload all the feeds of a tag.
                    p
                        | Like me. So, just click on the tag name in the left panel, all feeds will be displayed, then click on the feed title you want to reload.
                    h5 The first time I clicked on a feed, the links of this feed have been displayed, now I clicked several times and there is no more links !
                    p
                        | You just need to click once. In fact, "reloading" a feed aims to display the new links of this feed since the last time you did reload it. So if you see nothing it means that there is no new link to help you to procrastinate.
                    h5 I didn't visit all the links of a feed and I "reloaded" it, are the "old" links lost ?
                    p
                        | No, click on the "settings" button on the top right and uncheck the "Display only new links" checkbox, they should appear. If you prefer this behavior and don't want to click there every time, click on the "update" button of the settings panel.
                    h5 In this "settings" panel, there is a field called "Cozy bookmarks application name", what is it ?
                    p 
                        | You are curious, isn't it ? I like you. So, install 
                        a(href="https://github.com/Piour/cozy-bookmarks", target="_blank") the cozy bookmarks app
                        |  and put there the name you gave to it (usually "bookmarks"). Then you should see a "send to cozy bookmarks" button on the left of the feed links, click on it, and this link will be added to your bookmarks in the cozy-bookmarks app.
                    h5 Now that the feed form, the settings panel and this help are displayed, I have to scroll to see my links.
                    p 
                        | Just click on "My Cozy Feeds" on the top left and all should be fine.
                    h5 It still doesn't work !
                    p 
                        | Please 
                        a(href="https://github.com/Piour/cozy-feeds/issues", target="_blank") add an issue
                        |  and help me to help you.
                    h5 I want to use only free softwares.
                    p 
                        a(href="https://github.com/Piour/cozy-feeds) Me too
                        | . 
                        |  I'm not sure what licence I can use using cozycloud but you can consider my code under 
                        a(href="https://en.wikipedia.org/wiki/WTFPL") WTFPL
                        | . 

            ul.links
