div(class="tag #{name}")
    div.tag-header
        span.buttons
            button.btn.glyphicon.glyphicon-refresh(class="refresh",
                title="reload all feeds")
        button.name #{name}
