div(class="tag #{name}")
    div.tag-header
        span.buttons
            button.icon-reload(title="reload all feeds")
                img(src="icons/refresh.png", alt="refresh")
        span.name #{name}
